@charset "utf-8";

.sheet_inner {
	width:90%;
	margin:0 auto;
	margin-top:5%;
}

.sheet_inner h1 {
	font-size:3em;
}
.sheet_inner p {
	text-align:center;
	font-size:4em;
}

.bs_theme {
	color:#2196F3;
}

